*{
    margin: 0;
    padding: 0;
    
    
}
h1{
    font-family: '', cursive;
    font-size: 65px;
    letter-spacing: 1.2px;
    font-weight: bold;
}
.parent{
    background-color: rgb(32, 111, 71);
    color: white;
    width: 1350px;
    height: 700px;
    display: flex;
}
.right{
    float: right;
    margin: 0;
    padding: 0;
    object-position: right;
    object-fit: fill;
    width: 550px;
    

}
.upperleft{
    float: left;
    padding: 80px;    
}
.lowerleft{
    float: left;
    margin: 80px;

}
.attached{
    padding-top: 20px;
}
.Booknow{
    background-color: rgb(209, 209, 20);
    font-weight: 800;
    width: 100%;
    margin-top: 20px;
    padding: 8px;
    border-radius: 3px;
}
.img{
    height: 100%;
    width: 100%;
}